.canvas {
	width:100%;
}
.canvas_section{
	border: thin solid black;

}
body {
	font-size: 6pt;
	font-style: times;
	font-family: arial;

}

td {
	vertical-align: top;
}
h3 {
	text-transform: uppercase;
	word-spacing: 0px;
	margin-left: 6px;
	margin-bottom: 0px;
}
ul{ 
	list-style: none;
	margin: 0;
	padding: 0;
	margin-left: 6px;

}
h3 {
	margin-bottom: 0px;
}

.wide_input{
	width: 90%;

}

.sublist{
	margin:0;
	text-align: left;
	padding-left: 5%;
	white-space: 10pt;
}

h4 {
	font-style: italic;
}

p {
	font-style: italic;
}

li{
	margin: 0;
}

.chan_phs{
	padding: 0pt;
}

h2{
margin-left: 6px;
	
}